body {
    margin: 0;
    font-family: Arial, sans-serif;
    letter-spacing: 0.05rem;
}

header {
    background-color:black;
    color: white;
    padding: 1%;
    font-size: 1.25rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
}

header ul li {
    padding: 0.5%;
}

#logo{
    width: 3rem;
    height: auto;
}

#aboutMe {
    font-family: sans-serif;
    font-weight: 50;
    color: rgb(247, 232, 255);
    border-color: rgb(247, 232, 255);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 0.25rem;
}

#Chocomint-dev {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: Arial, sans-serif;
    font-size: 2.25rem;
}

#portofolio-text {
    font-size: 1rem;
    font-weight: light;
}

.rightAligned {
    margin-left: auto;
}

nav ul {
    margin: 0;
    padding: 0.5rem 0.25rem;
    background-color: rgb(247, 232, 255);
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color:rgb(164, 0, 205);
    color: white;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

footer {
    background-color: black;
    color: rgb(213, 213, 213);
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
}

footer h2 {
    font-weight: 300;
    font-size: 1rem;
}