body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 0.5rem;
    background-color: black;
    color: white;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

#Chocomint-dev-text {
    font-weight: bold;
    font-size: 2rem;
}

#portofolio-text {
    font-size: small;
}

#logo {
    width: 2.5rem;
}

nav {
    background-image: url(resources/nav_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    color: white;
    padding: 0.25rem 0 0.25rem 1rem;
    display: flex;
    gap: 1rem;
}

nav span {
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.5rem;
}

nav span:hover{
    background-color: white;
    color: purple;
}

article {
    padding-left: 1rem;
    background-color: white;
    color: black;
    flex: 1;
}

footer {
    background-color: black;
    color: lightgray;
    padding-left: 1rem;
}

footer h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}