body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color:black;
    color: white;
    padding: 1%;
    font-size: 1.5rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

header ul li {
    padding: 0.5%;
}

#aboutMe {
    background-color: white;
    color: black;
    border-radius: 0.25rem;
}

#Chocomint-dev {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-family: Arial, sans-serif;
}

.rightAligned {
    margin-left: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    padding: 0.5rem;
}