body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 1rem 0 1rem 0.5rem;
    background-color: black;
    color: white;
    display: flex;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: white;
}

#Chocomint-dev-text {
    font-weight: bold;
    font-size: 2.2rem;
    padding-right: 0.2rem;
}

#portofolio-text {
    font-size: small;
}

#logo {
    width: 2.5rem;
    padding: 0.3rem;
}

nav {
    background-image: url(resources/nav_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
    color: white;
    padding: 0.5rem 0 0.5rem 1rem;
    display: flex;
    gap: 1rem;
}

nav .default_nav_button {
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.5rem;

    text-decoration: none;
    color: white;
}

nav .default_nav_button:hover{
    text-decoration: none;
    background-color: white;
    color: purple;
}

nav .selected_nav_button{
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.5rem;

    text-decoration: none;
    background-color: white;
    color: purple;
}

article {

    @media(max-width: 400px){
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    @media(max-width: 600px){
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media(min-width: 600px){
        padding-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @media(min-width: 800px){
        padding-top: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @media(min-width: 1000px){
        padding-top: 2rem;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    background-color: white;
    padding-bottom: 1rem;
    color: black;
    flex: 1;
}

article p {
    text-align: left;
    font-size: 20px;
}

#back {
    color: rgb(178, 178, 178);
    text-decoration: underline;
}

article .reflection_box{
    background-color: rgb(35, 35, 66);
    border-radius: 0.75rem;
    border-style: solid;
    color: white;
    padding: 1rem 0.75rem 1rem 0.75rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.reflection_box p{
    margin: 0;
    font-size: medium;
}

#date {
    font-size: medium;
    color: rgb(133, 133, 133);
    background-color: rgb(226, 226, 226);
    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.reflection_box h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color:rgb(196, 133, 255);
    letter-spacing: 0.05rem;
}

.language_options {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.language_options a{
    text-decoration: none;
    color: white;
    padding: 0.25rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.25rem;
    font-weight: bold;
}

footer {
    background-color: black;
    color: lightgray;
    padding-left: 1rem;
}

footer h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}